<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBform.Properties.Settings.FinanceS24ConnectionString"
            connectionString="Data Source=ML-RefVm-231318\SQLEXPRESS;Initial Catalog=FinanceS24;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="server" value="ML-RefVm-231318\SQLEXPRESS"/>
    <add key="database" value="FinanceS24"/>
  </appSettings>
</configuration>